spring:
  application:
    name: link-it

  # Database
  datasource:
    url: jdbc:mysql://localhost:3306/linkit?useSSL=false&serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username: root
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  # JPA
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

  # Redis
  data:
    redis:
      host: ${REDIS_HOST:}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}

server:
  port: 8080

logging:
  level:
    org.swyp.linkit: DEBUG
    org.springframework.web.socket: DEBUG
    org.springframework.messaging: DEBUG